/* if time, i'd like to come back and sassify the files */
/* Not Klavika but close */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);


/* GLOBAL ClASSES*/
.seventy-two-fs {
    font-size: 72px;
    font-weight: bold;
}

.fifty-six-fs {
    font-size: 56px;
}

.forty-eight-fs {
    font-size: 48px;
}

.thirty-two-fs {
    font-size: 32px;
}

.twenty-four-fs {
    font-size: 24px;
}

.twenty-fs {
    font-size: 20px;
}

.body-large-fs {
    font-size: 18px;
}

.body-standard-fs {
    font-size: 16px;
}

.caption-subtitle-fs {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.button-font {
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
    vertical-align: center;
    font-weight: bold;
}

.text-upper {
    text-transform: uppercase;
}

.k-font {
    font-family: "Titillium Web", sans-serif;
}

.general-font {
    font-family: "Open Sans", sans-serif;
}


/* GLOBAL STYLING*/
* {
    padding: 0;
    margin: 0; 
    max-width: 100%;
}

h2 {
    font-weight: bold;
}


/* NAVBAR STYLING */

nav {
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
    /* vertical-align: center; */
    font-weight: bold;
    position: relative;
    z-index: 2
}

.navbar {
    padding: 0px;
}

.nav-logo {
    width: 200px;
}

.nav-ul {
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 0px 2px;
}

nav a,
nav a:visited {
    text-decoration: none;
    color: #007681;
}

.nav-word:hover {
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, #FF585D 0%,#FFC600 100%);
    border-image-slice: 1.5;
}

.nav-btn {
    color: #007681;
    border: none;
    background: #FFF;
    padding: 10px;
    width: 150px;
    letter-spacing: 1px;
    text-align: left;
    border-radius: 100px; 
}

.nav-btn-wrapper {
    background: linear-gradient(to right, #FF585D 0%,#FFC600 100%);
    padding: 2px;
    border-radius: 100px; 
    width: 155px;
}

.dropdown-menu {
    /* margin-top: 38px; */
    margin-top: 15px;
    border: none;
    border-radius: 0px 0px 10px 10px;
    background: #D9E1E2;
    width: 240px;
    padding: 0px;
}

.nav-dropdown-word {
    font-weight: bold;
    padding: 10px;
}

.nav-dropdown-word:hover {
    background: #00484F;
    color: #FFF;
}



/* SECTION ONE */
.section-one {
    background: url(./css/images/hero-image.jpeg);
    background-position: center left;
    background-size: cover;
    color: #007681;
}

.section-one-border {
    /* border-left: 3px solid transparent;
    border-right: 3px solid transparent; */
    /* border-bottom: 3px solid transparent; */
    /* border-image: linear-gradient(to right, #FF585D 0%,#FFC600 100%);
    border-image-slice: 1;
    position: relative;
    top: -50px;
    z-index: 1; */
    
}

.section-one-content-wrapper {
    background: #FFF;
    padding: 50px;
    position: relative;
    top: -50px;
    z-index: 1;
    border-radius: 16px;
}


h1 {
    color: #007681;
    text-align: left;
}

.section-one-text {
    font-weight: lighter; 
}

.section-one-btn {
    color: #007681;
    border: none;
    background: #FFF;
    padding: 10px;
    width: 180px;
    letter-spacing: 1px;
    text-align: left;
    border-radius: 100px; 
}

.section-one-button-wrapper {
    margin-top: 24px;
    background: linear-gradient(to right, #FF585D 0%,#FFC600 100%);
    padding: 3px;
    border-radius: 100px; 
    width: 185px;
}


.section-one-button-wrapper-one {
    background: #007681;
    margin-top: 24px;
    padding: 2px;
    border-radius: 100px; 
    width: 185px;
}



/* SECTION TWO*/
.s-two-hidden-bg {
    background: #FFC600;
}

.s-two {
    background: #007681;
    border-radius: 0px 0px 64px 64px;
    position: relative;
    color: white;
}

.s-two-pad {
    margin: 15px;
}

.s-two-subcontent {
    margin-top: 40px;
    margin-bottom: 40px;
}

.s-two-h4 {
    font-weight: bold;
}

.s-two-text {
    font-weight: lighter;
}

.s-two-expression {
    position: absolute;
    filter: invert(51%) sepia(45%) saturate(3830%) hue-rotate(149deg) brightness(97%) contrast(101%);
    top: 120px;
    left: 90px;
    transform: rotateY(180deg);
}

.s-two-content-wrapper {
    padding: 64px 120px;
}

.s-two-btn-wrap {
    display: flex;
    gap: 30px;
}

.s-two-btn-wrapper {
    margin-top: 24px;
    background: linear-gradient(to right, #FF585D 0%,#FFC600 100%);
    padding: 3px;
    border-radius: 100px; 
}

.s-two-btn {
    color: #007681;
    border: none;
    background: #FFF;
    padding: 10px;
    text-align: left;
    border-radius: 100px; 
}

.s-two-btn-one {
    margin-top: 24px;
    color: #FFF;
    border: 1px solid #FFF;
    background: #007681;
    padding: 10px;
    border-radius: 100px; 
    text-align: left;
}


/* SECTION THREE */
.s-three {
    background: #FFC600;
    padding: 80px 150px;
    position: relative;
}

.s-three-top-content {
    text-align: center;
    margin-bottom: 60px;
}

.s-three-p {
    margin-top: 20px;
    font-weight: lighter;
    line-height: 29px;;
}

.s-three-img {
    border-radius: 22px;
    box-shadow: -9px, 9px
    rgba(0, 0, 0, 0.2);
}

.s-three-btn-wrap {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}


.s-three-btn-wrapper {
    margin-top: 24px;
    background: linear-gradient(to right, #FF585D 0%,#FFC600 100%);
    padding: 3px;
    border-radius: 100px; 
    width: 185px; 
}

.s-three-btn {
    color: #007681;
    border: none;
    background: #FFF;
    padding: 10px;
    text-align: left;
    border-radius: 100px; 
    width: 180px;
}

/* hover/clicker elements */
.s-three-options {
    position: absolute;
    right: 0px;
    list-style-type: none;
}

.s-three-li {
    background: #FFF;
    padding: 30px 260px 30px 30px;
    margin: 3px;
    border-radius: 30px 0px 0px 30px;
    text-align: left;
    display: flex;
    gap: 10px;
}

.s-three-li-img-zero {
    background: #00B0B9;
    padding: 15px;
    border-radius: 50%;
}

.s-three-li-img-one {
    background: #FFC600;
    padding: 15px;
    border-radius: 50%;
}

.s-three-li-img-two {
    background: #FF585D;
    padding: 15px;
    border-radius: 50%;
}

.s-three-li-img-three {
    background: #FF8200;
    padding: 15px;
    border-radius: 50%;
}





/* SECTION FOUR */
.section-four {
    background: #007681;
    text-align: center;
    color: white;
    position: relative;
}

.s-four-expression,
.s-four-expression-one {
    position: absolute;
    filter: invert(72%) sepia(66%) saturate(6987%) hue-rotate(152deg) brightness(101%) contrast(101%);
}

.s-four-expression {
    bottom: 50px;
    left: 55px;
}

.s-four-expression-one {
    top: 190px;
    right: 40px;
}

.section-four-title {
    padding: 30px;
    padding-top: 104px;
}

.section-four-subwords {
    padding-bottom: 52px;
}

.section-four-ul {
    list-style-type: none;
}

.section-four-number {
    font-family: "Titillium Web", sans-serif;
    font-size: 72px;
    font-weight: bold;
}

.section-four-li {
    font-family: "Titillium Web", sans-serif;
    font-size: 24px;
    font-weight: normal;  
}

.section-four-p {
    padding: 30px 0px 64px 0px;
}

.card {
    border-radius: 40px;
    background: #369199;
    margin: 20px;
    margin-top: 64px;
    padding: 0px;
}

.card-title {
    font-weight: bold;
}

.card-img-top {
    border-radius: 40px 40px 0px 0px;
}

.card-body {
    padding: 40px;
    text-align: left;
}

.card-text {
    font-weight: lighter;
    /* padding: 10px; */
    text-align: left;
}

.s-four-btn {
    color: #007681;
    border: none;
    background: #FFF;
    padding: 10px;
    width: 150px;
    letter-spacing: 1px;
    text-align: left;
    border-radius: 100px; 
}

.s-four-button-wrapper {
    margin-top: 24px;
    background: linear-gradient(to right, #FF585D 0%,#FFC600 100%);
    padding: 3px;
    border-radius: 100px; 
    width: 155px;
}




/* SECTION FIVE */
.section-five {
    color: #FFF;
    background: #2D2926;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 43px;
    border-radius: 0px 0px 64px 64px;
}

.section-five-title {
    padding-bottom: 30px;
}

.section-five-words {
    padding-bottom: 30px;
}

.section-five-img {
    padding: 30px;
}



/* SECTION SIX */
.section-six {
    text-align: center;
    padding: 80px 150px;
    color: #007681;
    position: relative;
}

.s-six-img,
.s-six-img-one {
    filter: invert(20%) sepia(71%) saturate(3772%) hue-rotate(172deg) brightness(93%) contrast(101%);
    opacity: .4;
}

.s-six-img {
    position: absolute;
    left:-150px;
    bottom: -0px;
}

.s-six-img-one {
    position: absolute;
    top: 120px;
    right: -120px;
}

.s-six-ul {
    list-style-type: none;
}

.s-six-li {
    font-family: "Titillium Web", sans-serif;
    font-size: 72px;
    font-weight: bold;
}

.s-six-text {
    font-family: "Titillium Web", sans-serif;
    font-size: 24px;
    font-weight: normal;
}

.s-six-ul-pad {
    padding-bottom: 80px;
}



/* SECTION SEVEN */
.section-seven {
    background: #FFC600;
}

.seven-div {
    position: relative;
}

.s-seven-content {
    padding: 158px 0px 128px 0px;
    line-height: 42px;
    margin-top: 20px;
}
.s-seven-btn {
    color: #007681;
    border: none;
    background: #FFF;
    padding: 10px;
    width: 208px;
    letter-spacing: 1px;
    text-align: left;
    border-radius: 100px; 
}

.s-seven-button-wrapper {
    margin-top: 24px;
    /* margin-bottom: 125px; */
    background: linear-gradient(to right, #FF585D 0%,#FFC600 100%);
    padding: 3px;
    border-radius: 100px; 
    width: 213px;
}

.cloud-image,
.cloud-image-two {
    filter: invert(89%) sepia(100%) saturate(4635%) hue-rotate(183deg) 
    brightness(138%) contrast(116%);
}

.cloud-image {
    float: left;
    position: relative;
    top: 45px;
    left: 60px;
}

.cloud-image-two {
    float: right;
    position: relative;
    top: 150px;
    right: 80px;

}

.s-seven-img {
    position: absolute;
    bottom: 0px;
}



/* FOOTER STYLING */
.recog-footer {
    background: #2D2926;
    color: #FFFFFF;
    padding: 65px 0px;
}

.logo-image {
    width: 300px;
}

footer ul {
    list-style-type: none;
    letter-spacing: 1px;;
}

footer li {
    padding: 20px 0px;
}

footer a {
    color:#FFFFFF;
    text-decoration: none;
}

footer a:hover {
    color:#FFFFFF;
    opacity: .7;
}

.footer-demo-btn {
    border: 1px solid #FFF;
    background: none;
    border-radius: 100px;
    padding: 10px 10px;
    color: #FFF;
}

.footer-span {
    margin-bottom: 0px;
}

.footer-li {
    padding-top: 1px;
}

.footer-button-input {
    display: flex;
}


.footer-input,
.footer-join-btn {
    background: none;
    outline: none;
    border: none;
    color: #FFF
}

.footer-input {
    border-left: 1px solid #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding: 10px;
    width: 380px;
    border-radius: 100px 0px 0px 100px;
}

.footer-join-btn {
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    border: 1px solid #FFF;
    border-radius: 0px 100px 100px 0px;
}


.footer-logo-img {
    padding: 20px;
}

.footer-p {
    margin-top: 45px;
}